In [ ]:
ename=["Rahul","Kumar","modi","amith","varma"]
for ename in enames
print(enames)

In [8]:
#print 1...... to 10
#print 1...... to 100
#print 5...... to 50
#print 100...... to 51

for x in range(1,11,1):
    print(x)


for x in range(5,51,1):
    print(x)

for x in range(100 ,51, 1):
    print(x)

1
2
3
4
5
6
7
8
9
10
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
#5 Table

for i in range(1,11):
    print(5,"*",i,'=',5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
#print first 10 evevn numbers

for x in range(0 ,19, 2):
    print(x)

0
2
4
6
8
10
12
14
16
18

In [11]:
#print first 10 evevn numbers

for x in range(0 ,19, 2):
    print(x,end="\t")

0	2	4	6	8	10	12	14	16	18

In [14]:
emp={
    "id":101,
    "name":"RAHUL",
    "Sal":45000
}
for key in emp:
    print(key)

id
name
Sal

In [16]:
emp={
    "id":101,
    "name":"RAHUL",
    "Sal":45000
}
for key,value in emp.items():
    print(key, ":",value)

id : 101
name : RAHUL
Sal : 45000