In [1]:
t1=()
t2=10
t3=10,20
t4=10,20,30
t5=10,20,30,40
t6=10,20,30,40,50

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)

()
10
(10, 20)
(10, 20, 30)
(10, 20, 30, 40)
(10, 20, 30, 40, 50)

In [2]:
t1=()
t2=10
t3=10,20
t4=10,20,30
t5=10,20,30,40
t6=10,20,30,40,50

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))
print(type(t6))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [3]:
enames=("Rahul","Sonia","Kumar","Amith")
print(enames[0])

Rahul

In [4]:
for ename in enames:
    print(ename)

Rahul
Sonia
Kumar
Amith

In [5]:
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Kumar
Amith

In [6]:
months=("Jan","Feb","March")
print(months)

('Jan', 'Feb', 'March')

In [10]:
enames=("Rahul","Sonia","Kumar","Amith")
new_names=sorted(enames)
print(new_names)
print(type(new_names))

enames=tuple(new_names)
print(type(enames))

['Amith', 'Kumar', 'Rahul', 'Sonia']
<class 'list'>
<class 'tuple'>

In [15]:
enames=("Rahul","Sonia","Kumar","Amith")
print(enames.index("Sonia"))

1

In [17]:
enames=("Rahul","Sonia","Sonia","Kumar","Amith")
print(enames.count("Sonia"))

2

In [20]:
eids={10,20,30,10,"Rahul",True}
print(eids)

{True, 20, 10, 'Rahul', 30}

In [21]:
eids={101,102,103,104,105}
for eid in eids:
    print(eid)

101
102
103
104
105

In [23]:
eids={101,102,103,104,105}
eids.add(106)
print(eids)

{101, 102, 103, 104, 105, 106}

In [25]:
s1={10,20,30,40,50}
s2={60,70,80,90,100}

s1.update(s2)
print(s1)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [27]:
s1={10,20,30,40}
s1.update("Rahul")
print(s1)

{'h', 40, 'R', 10, 'u', 'l', 20, 'a', 30}